USE [master]
GO
/****** Object:  Database [Produccion_Agro]    Script Date: 21/10/2025 14:36:28 ******/
CREATE DATABASE [Produccion_Agro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Produccion_Citricos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Produccion_Citricos.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Produccion_Citricos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Produccion_Citricos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Produccion_Agro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Produccion_Agro]
GO
/****** Object:  User [ADMIN]    Script Date: 21/10/2025 14:36:28 ******/
CREATE USER [ADMIN] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ADMIN]
GO
/****** Object:  UserDefinedFunction [dbo].[GenerarPoligonoIrregular]    Script Date: 21/10/2025 14:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GenerarPoligonoIrregular](
    @lat FLOAT,
    @lng FLOAT,
    @area_hectareas FLOAT,
    @seed INT = NULL
)
RETURNS GEOGRAPHY
AS
BEGIN
    DECLARE @polygon GEOGRAPHY;
    DECLARE @radio_base FLOAT;
    
    -- Usar ID como semilla si no se proporciona
    IF @seed IS NULL SET @seed = ABS(CAST(@lat * 1000000 AS INT));
    
    -- Radio base
    SET @radio_base = SQRT(@area_hectareas * 10000) / 2;
    
    -- Factores de conversión
    DECLARE @lat_factor FLOAT = 1.0 / 111320.0;
    DECLARE @lng_factor FLOAT = 1.0 / (111320.0 * COS(RADIANS(@lat)));
    
    -- Generar puntos irregulares (octágono deformado)
    DECLARE @puntos TABLE (orden INT, lat FLOAT, lng FLOAT);
    DECLARE @i INT = 0;
    DECLARE @angulo FLOAT;
    DECLARE @radio_variado FLOAT;
    DECLARE @variacion FLOAT;
    
    WHILE @i < 8
    BEGIN
        SET @angulo = (@i * 45.0) * PI() / 180.0; -- Cada 45 grados
        
        -- Aplicar variación pseudoaleatoria basada en seed
        SET @variacion = 0.7 + (0.6 * ((@seed + @i * 13) % 100) / 100.0); -- Entre 0.7 y 1.3
        SET @radio_variado = @radio_base * @variacion;
        
        INSERT INTO @puntos VALUES (
            @i,
            @lat + (@radio_variado * SIN(@angulo) * @lat_factor),
            @lng + (@radio_variado * COS(@angulo) * @lng_factor)
        );
        
        SET @i = @i + 1;
    END;
    
    -- Construir WKT del polígono
    DECLARE @wkt NVARCHAR(MAX) = 'POLYGON((';
    
    SELECT @wkt = @wkt + CAST(lng AS NVARCHAR(20)) + ' ' + CAST(lat AS NVARCHAR(20)) + ', '
    FROM @puntos 
    ORDER BY orden;
    
    -- Cerrar el polígono (repetir primer punto)
    SELECT @wkt = @wkt + CAST(lng AS NVARCHAR(20)) + ' ' + CAST(lat AS NVARCHAR(20)) + '))'
    FROM @puntos 
    WHERE orden = 0;
    
    SET @polygon = GEOGRAPHY::STGeomFromText(@wkt, 4326);
    
    RETURN @polygon;
END;
GO
/****** Object:  Table [dbo].[DetallesVenta]    Script Date: 21/10/2025 14:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVenta](
	[id_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[observaciones] [text] NULL,
	[id_lote] [int] NULL,
	[id_ciclo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCiclo]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCiclo](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[orden] [int] NOT NULL,
	[color_hex] [varchar](7) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agricultores]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productores](
	[id_productor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[identificacion] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[direccion] [varchar](200) NULL,
	[fecha_registro] [date] NOT NULL,
	[es_propietario] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_productor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcelas]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcelas](
	[id_parcela] [int] IDENTITY(1,1) NOT NULL,
	[id_agricultor] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ubicacion] [varchar](200) NOT NULL,
	[area_total] [decimal](10, 2) NOT NULL,
	[coordenadas_gps] [varchar](100) NULL,
	[tipo_suelo] [varchar](50) NULL,
	[fuente_agua] [varchar](100) NULL,
	[fecha_adquisicion] [date] NULL,
	[precio_adquisicion] [decimal](12, 2) NULL,
	[activo] [bit] NOT NULL,
	[geometria_point] [geography] NULL,
	[geometria_polygon] [geography] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCultivo]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCultivo](
	[id_tipo_cultivo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[nombre_cientifico] [varchar](100) NULL,
	[descripcion] [text] NULL,
	[tiempo_cosecha_min] [int] NULL,
	[tiempo_cosecha_max] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cultivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariedadesCultivo]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariedadesCultivo](
	[id_variedad] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_cultivo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tiempo_produccion] [int] NULL,
	[resistencia_zona] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_variedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiclosProduccion]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiclosProduccion](
	[id_ciclo] [int] IDENTITY(1,1) NOT NULL,
	[id_parcela] [int] NOT NULL,
	[id_variedad] [int] NOT NULL,
	[fecha_siembra] [date] NULL,
	[fecha_cosecha_estimada] [date] NULL,
	[fecha_cosecha_real] [date] NULL,
	[area_sembrada] [decimal](10, 2) NOT NULL,
	[densidad_siembra] [int] NULL,
	[activo] [bit] NOT NULL,
	[fecha_floracion] [date] NULL,
	[fecha_poda] [date] NULL,
	[fecha_limpieza] [date] NULL,
	[frecuencia_limpieza] [int] NULL,
	[cantidad_cosechada_real] [decimal](10, 2) NULL,
	[rendimiento_real] [decimal](10, 2) NULL,
	[id_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostosProduccion]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosProduccion](
	[id_costo] [int] IDENTITY(1,1) NOT NULL,
	[id_ciclo] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_tratamiento] [int] NULL,
	[concepto] [varchar](200) NOT NULL,
	[fecha] [date] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[unidad_medida] [varchar](20) NULL,
	[costo_unitario] [decimal](10, 2) NOT NULL,
	[costo_total] [decimal](10, 2) NOT NULL,
	[comprobante] [varchar](100) NULL,
	[registrado_por] [int] NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_costo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ResumenCiclos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ResumenCiclos] AS
SELECT 
    c.id_ciclo,
    c.id_parcela,
    p.nombre as nombre_parcela,
    a.nombre + ' ' + a.apellido as propietario,
    c.id_variedad,
    v.nombre as variedad,
    tc.nombre as tipo_cultivo,
    e.nombre as estado,
    e.color_hex as estado_color,
    c.fecha_siembra,
    c.fecha_cosecha_estimada,
    c.fecha_cosecha_real,
    c.area_sembrada,
    c.cantidad_cosechada_real,
    c.rendimiento_real,
    
    -- Costos
    ISNULL((SELECT SUM(costo_total) 
            FROM CostosProduccion cp 
            WHERE cp.id_ciclo = c.id_ciclo), 0) as costo_total_ciclo,
    
    -- Ingresos (de ventas de lotes de este ciclo)
    ISNULL((SELECT SUM(dv.total) 
            FROM DetallesVenta dv 
            WHERE dv.id_ciclo = c.id_ciclo), 0) as ingreso_total_ciclo,
    
    -- Utilidad
    ISNULL((SELECT SUM(dv.total) 
            FROM DetallesVenta dv 
            WHERE dv.id_ciclo = c.id_ciclo), 0) -
    ISNULL((SELECT SUM(costo_total) 
            FROM CostosProduccion cp 
            WHERE cp.id_ciclo = c.id_ciclo), 0) as utilidad_ciclo,
    
    -- ROI
    CASE 
        WHEN ISNULL((SELECT SUM(costo_total) 
                     FROM CostosProduccion cp 
                     WHERE cp.id_ciclo = c.id_ciclo), 0) > 0
        THEN ((ISNULL((SELECT SUM(dv.total) 
                       FROM DetallesVenta dv 
                       WHERE dv.id_ciclo = c.id_ciclo), 0) -
               ISNULL((SELECT SUM(costo_total) 
                       FROM CostosProduccion cp 
                       WHERE cp.id_ciclo = c.id_ciclo), 0)) /
              ISNULL((SELECT SUM(costo_total) 
                      FROM CostosProduccion cp 
                      WHERE cp.id_ciclo = c.id_ciclo), 1)) * 100
        ELSE 0
    END as roi_porcentaje,
    
    c.activo

FROM CiclosProduccion c
INNER JOIN Parcelas p ON c.id_parcela = p.id_parcela
INNER JOIN Agricultores a ON p.id_agricultor = a.id_agricultor
INNER JOIN VariedadesCultivo v ON c.id_variedad = v.id_variedad
INNER JOIN TiposCultivo tc ON v.id_tipo_cultivo = tc.id_tipo_cultivo
INNER JOIN EstadosCiclo e ON c.id_estado = e.id_estado
WHERE c.activo = 1 AND p.activo = 1 AND a.activo = 1;
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[id_config] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[valor] [nvarchar](500) NULL,
	[descripcion] [text] NULL,
	[tipo_dato] [varchar](20) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_config] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotesAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotesAgroquimicos](
	[id_lote_agroquimico] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[codigo_lote] [varchar](50) NOT NULL,
	[fecha_compra] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[cantidad_inicial] [decimal](10, 2) NOT NULL,
	[cantidad_actual] [decimal](10, 2) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[id_proveedor] [int] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lote_agroquimico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaAgroquimicos](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosAgroquimicos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nombre_comercial] [varchar](50) NOT NULL,
	[formulacion] [varchar](20) NULL,
	[unidad] [char](3) NOT NULL,
	[registro] [varchar](15) NULL,
	[precio] [decimal](8, 2) NOT NULL,
	[stock] [decimal](10, 2) NULL,
	[fecha_registro] [date] NOT NULL,
	[notas] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AlertasStockAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AlertasStockAgroquimicos] AS
SELECT 
    p.id_producto,
    p.nombre_comercial,
    c.nombre as categoria,
    p.stock,
    p.precio,
    
    -- Alerta de stock bajo
    CASE 
        WHEN p.stock <= (SELECT CAST(valor AS DECIMAL) 
                         FROM ConfiguracionSistema 
                         WHERE clave = 'stock_minimo_agroquimicos')
        THEN 'CRÍTICO'
        WHEN p.stock <= (SELECT CAST(valor AS DECIMAL) * 2
                         FROM ConfiguracionSistema 
                         WHERE clave = 'stock_minimo_agroquimicos')
        THEN 'BAJO'
        ELSE 'OK'
    END as estado_stock,
    
    -- Lotes próximos a vencer
    (SELECT COUNT(*) 
     FROM LotesAgroquimicos la 
     WHERE la.id_producto = p.id_producto 
     AND la.fecha_vencimiento BETWEEN GETDATE() AND 
         DATEADD(DAY, (SELECT CAST(valor AS INT) 
                       FROM ConfiguracionSistema 
                       WHERE clave = 'dias_alerta_vencimiento_agroquimicos'), GETDATE())
     AND la.cantidad_actual > 0) as lotes_por_vencer,
    
    -- Próximo vencimiento
    (SELECT MIN(fecha_vencimiento) 
     FROM LotesAgroquimicos la 
     WHERE la.id_producto = p.id_producto 
     AND la.cantidad_actual > 0) as proxima_fecha_vencimiento

FROM ProductosAgroquimicos p
INNER JOIN CategoriaAgroquimicos c ON p.id_categoria = c.id_categoria
WHERE p.activo = 1;
GO
/****** Object:  Table [dbo].[CategoriasCalidad]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCalidad](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[criterios] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasCostos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCostos](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](200) NULL,
	[ciudad] [varchar](100) NULL,
	[estado_provincia] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[condiciones_pago] [varchar](100) NULL,
	[fecha_registro] [date] NOT NULL,
	[registrado_por] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[tipo_cliente] [varchar](20) NULL,
	[limite_credito] [decimal](12, 2) NULL,
	[dias_credito] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprasCombustible]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprasCombustible](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[tipo_combustible] [varchar](50) NOT NULL,
	[fecha_compra] [date] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[precio_total] [decimal](10, 2) NOT NULL,
	[responsable] [int] NOT NULL,
	[observaciones] [text] NULL,
	[id_proveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesMezcla]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesMezcla](
	[id_detalle_mezcla] [int] IDENTITY(1,1) NOT NULL,
	[id_mezcla] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_mezcla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[identificacion] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
	[tipo_empleado] [varchar](50) NOT NULL,
	[fecha_contratacion] [date] NOT NULL,
	[salario_base] [decimal](10, 2) NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosVenta]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosVenta](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPreciosProductos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPreciosProductos](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_anterior] [decimal](8, 2) NOT NULL,
	[precio_nuevo] [decimal](8, 2) NOT NULL,
	[fecha_cambio] [datetime] NULL,
	[motivo] [varchar](200) NULL,
	[modificado_por] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotesCosecha]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotesCosecha](
	[id_lote] [int] IDENTITY(1,1) NOT NULL,
	[id_ciclo] [int] NOT NULL,
	[id_categoria_calidad] [int] NOT NULL,
	[codigo_lote] [varchar](20) NOT NULL,
	[fecha_cosecha] [date] NOT NULL,
	[cantidad_cosechada] [decimal](10, 2) NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[precio_unitario_sugerido] [decimal](10, 2) NULL,
	[costo_produccion_unitario] [decimal](10, 2) NULL,
	[registrado_por] [int] NOT NULL,
	[observaciones] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[id_mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_maquinaria] [int] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[fecha_realizada] [date] NULL,
	[descripcion] [text] NOT NULL,
	[costo_total] [decimal](10, 2) NOT NULL,
	[responsable] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinaria]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinaria](
	[id_maquinaria] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[tipo_combustible] [varchar](50) NULL,
	[estado] [varchar](20) NOT NULL,
	[ubicacion_actual] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MezclasAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MezclasAgroquimicos](
	[id_mezcla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
	[cantidad_agua] [decimal](10, 2) NULL,
	[area_aplicacion] [decimal](10, 2) NULL,
	[objetivo] [varchar](100) NULL,
	[indicaciones] [text] NULL,
	[fecha_creacion] [date] NOT NULL,
	[activo] [bit] NOT NULL,
	[nota] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mezcla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosStockAgroquimicos]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosStockAgroquimicos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[stock_anterior] [decimal](10, 2) NOT NULL,
	[stock_nuevo] [decimal](10, 2) NOT NULL,
	[fecha_movimiento] [datetime] NULL,
	[concepto] [varchar](200) NOT NULL,
	[id_tratamiento] [int] NULL,
	[id_proveedor] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[precio_total] [decimal](10, 2) NULL,
	[registrado_por] [int] NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosAgricultores]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosAgricultores](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NULL,
	[id_agricultor] [int] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[concepto] [varchar](200) NOT NULL,
	[referencia] [varchar](100) NULL,
	[estado] [varchar](10) NOT NULL,
	[recibido_por] [int] NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](200) NOT NULL,
	[ruc_nit] [varchar](20) NOT NULL,
	[contacto_nombre] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[direccion] [varchar](200) NULL,
	[ciudad] [varchar](100) NULL,
	[tipo_proveedor] [varchar](50) NOT NULL,
	[calificacion] [int] NULL,
	[condiciones_pago] [varchar](100) NULL,
	[fecha_registro] [date] NULL,
	[registrado_por] [int] NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc_nit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[nivel_acceso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPlagasMalezas]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPlagasMalezas](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
	[categoria] [varchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TratamientosFitosanitarios]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TratamientosFitosanitarios](
	[id_tratamiento] [int] IDENTITY(1,1) NOT NULL,
	[id_ciclo] [int] NOT NULL,
	[id_tipo_plaga] [int] NULL,
	[fecha_aplicacion] [date] NOT NULL,
	[area_tratada] [decimal](10, 2) NOT NULL,
	[metodo_aplicacion] [varchar](100) NULL,
	[condiciones_climaticas] [varchar](100) NULL,
	[id_mezcla] [int] NULL,
	[cantidad_agua] [decimal](10, 2) NULL,
	[costo_total] [decimal](10, 2) NULL,
	[realizado_por] [int] NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrazabilidadProducto]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrazabilidadProducto](
	[id_trazabilidad] [int] IDENTITY(1,1) NOT NULL,
	[id_ciclo] [int] NOT NULL,
	[id_lote] [int] NOT NULL,
	[id_venta] [int] NULL,
	[id_detalle_venta] [int] NULL,
	[fecha_registro] [datetime] NOT NULL,
	[cantidad_vendida] [decimal](10, 2) NULL,
	[precio_venta_real] [decimal](10, 2) NULL,
	[margen_real] [decimal](10, 2) NULL,
	[observaciones] [text] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_trazabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsoMaquinaria]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsoMaquinaria](
	[id_uso] [int] IDENTITY(1,1) NOT NULL,
	[id_maquinaria] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[actividad_realizada] [varchar](200) NOT NULL,
	[parcela] [varchar](100) NULL,
	[combustible_consumido] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_uso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
	[usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[salt] [varchar](255) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 21/10/2025 14:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[codigo_venta] [varchar](20) NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[condiciones_pago] [varchar](100) NULL,
	[fecha_entrega] [date] NULL,
	[lugar_entrega] [varchar](200) NULL,
	[id_estado] [int] NOT NULL,
	[estado_pago] [varchar](10) NOT NULL,
	[registrado_por] [int] NOT NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CiclosProduccion_IdParcela]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_CiclosProduccion_IdParcela] ON [dbo].[CiclosProduccion]
(
	[id_parcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CiclosProduccion_IdVariedad]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_CiclosProduccion_IdVariedad] ON [dbo].[CiclosProduccion]
(
	[id_variedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Empleado_Tipo]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Empleado_Tipo] ON [dbo].[Empleados]
(
	[tipo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistPrecio_Fecha]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_HistPrecio_Fecha] ON [dbo].[HistorialPreciosProductos]
(
	[fecha_cambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoteAgro_Producto]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_LoteAgro_Producto] ON [dbo].[LotesAgroquimicos]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoteAgro_Vencimiento]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_LoteAgro_Vencimiento] ON [dbo].[LotesAgroquimicos]
(
	[fecha_vencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LotesCosecha_FechaCosecha]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_LotesCosecha_FechaCosecha] ON [dbo].[LotesCosecha]
(
	[fecha_cosecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LotesCosecha_IdCiclo]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_LotesCosecha_IdCiclo] ON [dbo].[LotesCosecha]
(
	[id_ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mantenimientos_IdMaquinaria]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Mantenimientos_IdMaquinaria] ON [dbo].[Mantenimientos]
(
	[id_maquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovStock_Fecha]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_MovStock_Fecha] ON [dbo].[MovimientosStockAgroquimicos]
(
	[fecha_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovStock_Producto]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_MovStock_Producto] ON [dbo].[MovimientosStockAgroquimicos]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_FechaPago]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_FechaPago] ON [dbo].[PagosAgricultores]
(
	[fecha_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_IdAgricultor]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_IdAgricultor] ON [dbo].[PagosAgricultores]
(
	[id_agricultor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_IdVenta]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_IdVenta] ON [dbo].[PagosAgricultores]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcelas_IdAgricultor]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Parcelas_IdAgricultor] ON [dbo].[Parcelas]
(
	[id_agricultor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Proveedores_Tipo]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Proveedores_Tipo] ON [dbo].[Proveedores]
(
	[tipo_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TratamientosFitosanitarios_FechaAplicacion]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TratamientosFitosanitarios_FechaAplicacion] ON [dbo].[TratamientosFitosanitarios]
(
	[fecha_aplicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TratamientosFitosanitarios_IdCiclo]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TratamientosFitosanitarios_IdCiclo] ON [dbo].[TratamientosFitosanitarios]
(
	[id_ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrazabilidadProducto_Ciclo]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TrazabilidadProducto_Ciclo] ON [dbo].[TrazabilidadProducto]
(
	[id_ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrazabilidadProducto_Lote]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TrazabilidadProducto_Lote] ON [dbo].[TrazabilidadProducto]
(
	[id_lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrazabilidadProducto_Venta]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TrazabilidadProducto_Venta] ON [dbo].[TrazabilidadProducto]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsoMaquinaria_IdMaquinaria]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_UsoMaquinaria_IdMaquinaria] ON [dbo].[UsoMaquinaria]
(
	[id_maquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_FechaVenta]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_FechaVenta] ON [dbo].[Ventas]
(
	[fecha_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_IdCliente]    Script Date: 21/10/2025 14:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdCliente] ON [dbo].[Ventas]
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agricultores] ADD  DEFAULT ((0)) FOR [es_propietario]
GO
ALTER TABLE [dbo].[Agricultores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriaAgroquimicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriasCalidad] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriasCostos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CiclosProduccion] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  DEFAULT (getdate()) FOR [fecha_modificacion]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EstadosCiclo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EstadosVenta] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[HistorialPreciosProductos] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[LotesAgroquimicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[LotesCosecha] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Mantenimientos] ADD  CONSTRAINT [DF_Mantenimientos_Costo]  DEFAULT ((0)) FOR [costo_total]
GO
ALTER TABLE [dbo].[Maquinaria] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MetodosPago] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MezclasAgroquimicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[PagosAgricultores] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Parcelas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] ADD  CONSTRAINT [DF_ProductosAgroquimicos_Formulacion]  DEFAULT ('Líquido') FOR [formulacion]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] ADD  CONSTRAINT [DF_ProductosAgroquimicos_Registro]  DEFAULT ('PENDIENTE') FOR [registro]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] ADD  CONSTRAINT [DF_ProductosAgroquimicos_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((50)) FOR [nivel_acceso]
GO
ALTER TABLE [dbo].[TiposCultivo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TiposPlagasMalezas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TrazabilidadProducto] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[TrazabilidadProducto] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[VariedadesCultivo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[CiclosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_Ciclo_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadosCiclo] ([id_estado])
GO
ALTER TABLE [dbo].[CiclosProduccion] CHECK CONSTRAINT [FK_Ciclo_Estado]
GO
ALTER TABLE [dbo].[CiclosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CiclosProduccion_Parcelas] FOREIGN KEY([id_parcela])
REFERENCES [dbo].[Parcelas] ([id_parcela])
GO
ALTER TABLE [dbo].[CiclosProduccion] CHECK CONSTRAINT [FK_CiclosProduccion_Parcelas]
GO
ALTER TABLE [dbo].[CiclosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CiclosProduccion_VariedadesCultivo] FOREIGN KEY([id_variedad])
REFERENCES [dbo].[VariedadesCultivo] ([id_variedad])
GO
ALTER TABLE [dbo].[CiclosProduccion] CHECK CONSTRAINT [FK_CiclosProduccion_VariedadesCultivo]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[ComprasCombustible]  WITH CHECK ADD  CONSTRAINT [FK_CompraComb_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[ComprasCombustible] CHECK CONSTRAINT [FK_CompraComb_Proveedor]
GO
ALTER TABLE [dbo].[ComprasCombustible]  WITH CHECK ADD  CONSTRAINT [FK_ComprasCombustible_Usuarios] FOREIGN KEY([responsable])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[ComprasCombustible] CHECK CONSTRAINT [FK_ComprasCombustible_Usuarios]
GO
ALTER TABLE [dbo].[ConfiguracionSistema]  WITH CHECK ADD  CONSTRAINT [FK_Config_Usuario] FOREIGN KEY([modificado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[ConfiguracionSistema] CHECK CONSTRAINT [FK_Config_Usuario]
GO
ALTER TABLE [dbo].[CostosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CostosProduccion_CategoriasCostos] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CategoriasCostos] ([id_categoria])
GO
ALTER TABLE [dbo].[CostosProduccion] CHECK CONSTRAINT [FK_CostosProduccion_CategoriasCostos]
GO
ALTER TABLE [dbo].[CostosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CostosProduccion_CiclosProduccion] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[CiclosProduccion] ([id_ciclo])
GO
ALTER TABLE [dbo].[CostosProduccion] CHECK CONSTRAINT [FK_CostosProduccion_CiclosProduccion]
GO
ALTER TABLE [dbo].[CostosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CostosProduccion_TratamientosFitosanitarios] FOREIGN KEY([id_tratamiento])
REFERENCES [dbo].[TratamientosFitosanitarios] ([id_tratamiento])
GO
ALTER TABLE [dbo].[CostosProduccion] CHECK CONSTRAINT [FK_CostosProduccion_TratamientosFitosanitarios]
GO
ALTER TABLE [dbo].[CostosProduccion]  WITH CHECK ADD  CONSTRAINT [FK_CostosProduccion_Usuarios] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[CostosProduccion] CHECK CONSTRAINT [FK_CostosProduccion_Usuarios]
GO
ALTER TABLE [dbo].[DetallesMezcla]  WITH CHECK ADD  CONSTRAINT [FK_DetallesMezcla_MezclasAgroquimicos] FOREIGN KEY([id_mezcla])
REFERENCES [dbo].[MezclasAgroquimicos] ([id_mezcla])
GO
ALTER TABLE [dbo].[DetallesMezcla] CHECK CONSTRAINT [FK_DetallesMezcla_MezclasAgroquimicos]
GO
ALTER TABLE [dbo].[DetallesMezcla]  WITH CHECK ADD  CONSTRAINT [FK_DetallesMezcla_ProductosAgroquimicos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[ProductosAgroquimicos] ([id_producto])
GO
ALTER TABLE [dbo].[DetallesMezcla] CHECK CONSTRAINT [FK_DetallesMezcla_ProductosAgroquimicos]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetallesVenta_Ciclo] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[CiclosProduccion] ([id_ciclo])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [FK_DetallesVenta_Ciclo]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetallesVenta_LotesCosecha] FOREIGN KEY([id_lote])
REFERENCES [dbo].[LotesCosecha] ([id_lote])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [FK_DetallesVenta_LotesCosecha]
GO
ALTER TABLE [dbo].[DetallesVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetallesVenta_Ventas] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
ALTER TABLE [dbo].[DetallesVenta] CHECK CONSTRAINT [FK_DetallesVenta_Ventas]
GO
ALTER TABLE [dbo].[HistorialPreciosProductos]  WITH CHECK ADD  CONSTRAINT [FK_HistPrecio_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[ProductosAgroquimicos] ([id_producto])
GO
ALTER TABLE [dbo].[HistorialPreciosProductos] CHECK CONSTRAINT [FK_HistPrecio_Producto]
GO
ALTER TABLE [dbo].[HistorialPreciosProductos]  WITH CHECK ADD  CONSTRAINT [FK_HistPrecio_Usuario] FOREIGN KEY([modificado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[HistorialPreciosProductos] CHECK CONSTRAINT [FK_HistPrecio_Usuario]
GO
ALTER TABLE [dbo].[LotesAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_LoteAgro_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[ProductosAgroquimicos] ([id_producto])
GO
ALTER TABLE [dbo].[LotesAgroquimicos] CHECK CONSTRAINT [FK_LoteAgro_Producto]
GO
ALTER TABLE [dbo].[LotesAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_LoteAgro_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[LotesAgroquimicos] CHECK CONSTRAINT [FK_LoteAgro_Proveedor]
GO
ALTER TABLE [dbo].[LotesCosecha]  WITH CHECK ADD  CONSTRAINT [FK_LotesCosecha_CategoriasCalidad] FOREIGN KEY([id_categoria_calidad])
REFERENCES [dbo].[CategoriasCalidad] ([id_categoria])
GO
ALTER TABLE [dbo].[LotesCosecha] CHECK CONSTRAINT [FK_LotesCosecha_CategoriasCalidad]
GO
ALTER TABLE [dbo].[LotesCosecha]  WITH CHECK ADD  CONSTRAINT [FK_LotesCosecha_CiclosProduccion] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[CiclosProduccion] ([id_ciclo])
GO
ALTER TABLE [dbo].[LotesCosecha] CHECK CONSTRAINT [FK_LotesCosecha_CiclosProduccion]
GO
ALTER TABLE [dbo].[LotesCosecha]  WITH CHECK ADD  CONSTRAINT [FK_LotesCosecha_Usuarios] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[LotesCosecha] CHECK CONSTRAINT [FK_LotesCosecha_Usuarios]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Maquinaria] FOREIGN KEY([id_maquinaria])
REFERENCES [dbo].[Maquinaria] ([id_maquinaria])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Maquinaria]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Usuarios] FOREIGN KEY([responsable])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Usuarios]
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_MovStock_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[ProductosAgroquimicos] ([id_producto])
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] CHECK CONSTRAINT [FK_MovStock_Producto]
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_MovStock_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] CHECK CONSTRAINT [FK_MovStock_Proveedor]
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_MovStock_Tratamiento] FOREIGN KEY([id_tratamiento])
REFERENCES [dbo].[TratamientosFitosanitarios] ([id_tratamiento])
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] CHECK CONSTRAINT [FK_MovStock_Tratamiento]
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_MovStock_Usuario] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] CHECK CONSTRAINT [FK_MovStock_Usuario]
GO
ALTER TABLE [dbo].[PagosAgricultores]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Agricultores] FOREIGN KEY([id_agricultor])
REFERENCES [dbo].[Agricultores] ([id_agricultor])
GO
ALTER TABLE [dbo].[PagosAgricultores] CHECK CONSTRAINT [FK_Pagos_Agricultores]
GO
ALTER TABLE [dbo].[PagosAgricultores]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_MetodosPago] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[MetodosPago] ([id_metodo])
GO
ALTER TABLE [dbo].[PagosAgricultores] CHECK CONSTRAINT [FK_Pagos_MetodosPago]
GO
ALTER TABLE [dbo].[PagosAgricultores]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([recibido_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[PagosAgricultores] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [dbo].[PagosAgricultores]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Ventas] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
ALTER TABLE [dbo].[PagosAgricultores] CHECK CONSTRAINT [FK_Pagos_Ventas]
GO
ALTER TABLE [dbo].[Parcelas]  WITH CHECK ADD  CONSTRAINT [FK_Parcelas_Agricultores] FOREIGN KEY([id_agricultor])
REFERENCES [dbo].[Agricultores] ([id_agricultor])
GO
ALTER TABLE [dbo].[Parcelas] CHECK CONSTRAINT [FK_Parcelas_Agricultores]
GO
ALTER TABLE [dbo].[ProductosAgroquimicos]  WITH CHECK ADD  CONSTRAINT [FK_ProductosAgroquimicos_CategoriaAgroquimicos] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CategoriaAgroquimicos] ([id_categoria])
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] CHECK CONSTRAINT [FK_ProductosAgroquimicos_CategoriaAgroquimicos]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Usuario] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Usuario]
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios]  WITH CHECK ADD  CONSTRAINT [FK_TratamientosFitosanitarios_CiclosProduccion] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[CiclosProduccion] ([id_ciclo])
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios] CHECK CONSTRAINT [FK_TratamientosFitosanitarios_CiclosProduccion]
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios]  WITH CHECK ADD  CONSTRAINT [FK_TratamientosFitosanitarios_MezclasAgroquimicos] FOREIGN KEY([id_mezcla])
REFERENCES [dbo].[MezclasAgroquimicos] ([id_mezcla])
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios] CHECK CONSTRAINT [FK_TratamientosFitosanitarios_MezclasAgroquimicos]
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios]  WITH CHECK ADD  CONSTRAINT [FK_TratamientosFitosanitarios_TiposPlagasMalezas] FOREIGN KEY([id_tipo_plaga])
REFERENCES [dbo].[TiposPlagasMalezas] ([id_tipo])
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios] CHECK CONSTRAINT [FK_TratamientosFitosanitarios_TiposPlagasMalezas]
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios]  WITH CHECK ADD  CONSTRAINT [FK_TratamientosFitosanitarios_Usuarios] FOREIGN KEY([realizado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[TratamientosFitosanitarios] CHECK CONSTRAINT [FK_TratamientosFitosanitarios_Usuarios]
GO
ALTER TABLE [dbo].[TrazabilidadProducto]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_Ciclo] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[CiclosProduccion] ([id_ciclo])
GO
ALTER TABLE [dbo].[TrazabilidadProducto] CHECK CONSTRAINT [FK_Trazabilidad_Ciclo]
GO
ALTER TABLE [dbo].[TrazabilidadProducto]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_DetalleVenta] FOREIGN KEY([id_detalle_venta])
REFERENCES [dbo].[DetallesVenta] ([id_detalle_venta])
GO
ALTER TABLE [dbo].[TrazabilidadProducto] CHECK CONSTRAINT [FK_Trazabilidad_DetalleVenta]
GO
ALTER TABLE [dbo].[TrazabilidadProducto]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_Lote] FOREIGN KEY([id_lote])
REFERENCES [dbo].[LotesCosecha] ([id_lote])
GO
ALTER TABLE [dbo].[TrazabilidadProducto] CHECK CONSTRAINT [FK_Trazabilidad_Lote]
GO
ALTER TABLE [dbo].[TrazabilidadProducto]  WITH CHECK ADD  CONSTRAINT [FK_Trazabilidad_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
ALTER TABLE [dbo].[TrazabilidadProducto] CHECK CONSTRAINT [FK_Trazabilidad_Venta]
GO
ALTER TABLE [dbo].[UsoMaquinaria]  WITH CHECK ADD  CONSTRAINT [FK_UsoMaquinaria_Maquinaria] FOREIGN KEY([id_maquinaria])
REFERENCES [dbo].[Maquinaria] ([id_maquinaria])
GO
ALTER TABLE [dbo].[UsoMaquinaria] CHECK CONSTRAINT [FK_UsoMaquinaria_Maquinaria]
GO
ALTER TABLE [dbo].[UsoMaquinaria]  WITH CHECK ADD  CONSTRAINT [FK_UsoMaquinaria_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[UsoMaquinaria] CHECK CONSTRAINT [FK_UsoMaquinaria_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[VariedadesCultivo]  WITH CHECK ADD  CONSTRAINT [FK_VariedadesCultivo_TiposCultivo] FOREIGN KEY([id_tipo_cultivo])
REFERENCES [dbo].[TiposCultivo] ([id_tipo_cultivo])
GO
ALTER TABLE [dbo].[VariedadesCultivo] CHECK CONSTRAINT [FK_VariedadesCultivo_TiposCultivo]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_EstadosVenta] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadosVenta] ([id_estado])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_EstadosVenta]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_Tipo] CHECK  (([tipo_cliente]='Exportador' OR [tipo_cliente]='Minorista' OR [tipo_cliente]='Mayorista'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_Cliente_Tipo]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CK_Empleado_Tipo] CHECK  (([tipo_empleado]='Administrativo' OR [tipo_empleado]='Supervisor' OR [tipo_empleado]='Técnico Agrícola' OR [tipo_empleado]='Operador Campo'))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CK_Empleado_Tipo]
GO
ALTER TABLE [dbo].[LotesAgroquimicos]  WITH CHECK ADD  CONSTRAINT [CK_LoteAgro_Cantidad] CHECK  (([cantidad_actual]>=(0)))
GO
ALTER TABLE [dbo].[LotesAgroquimicos] CHECK CONSTRAINT [CK_LoteAgro_Cantidad]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD CHECK  (([estado]='Completado' OR [estado]='Programado'))
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD CHECK  (([tipo]='Correctivo' OR [tipo]='Preventivo'))
GO
ALTER TABLE [dbo].[Maquinaria]  WITH CHECK ADD CHECK  (([estado]='Fuera de servicio' OR [estado]='En mantenimiento' OR [estado]='Operativo'))
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos]  WITH CHECK ADD  CONSTRAINT [CK_MovStock_Tipo] CHECK  (([tipo_movimiento]='AJUSTE' OR [tipo_movimiento]='SALIDA' OR [tipo_movimiento]='ENTRADA'))
GO
ALTER TABLE [dbo].[MovimientosStockAgroquimicos] CHECK CONSTRAINT [CK_MovStock_Tipo]
GO
ALTER TABLE [dbo].[PagosAgricultores]  WITH CHECK ADD CHECK  (([estado]='Rechazado' OR [estado]='Confirmado' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[ProductosAgroquimicos]  WITH CHECK ADD  CONSTRAINT [CK_ProductosAgroquimicos_Unidad] CHECK  (([unidad]='Kg' OR [unidad]='L'))
GO
ALTER TABLE [dbo].[ProductosAgroquimicos] CHECK CONSTRAINT [CK_ProductosAgroquimicos_Unidad]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD CHECK  (([calificacion]>=(1) AND [calificacion]<=(5)))
GO
ALTER TABLE [dbo].[TiposPlagasMalezas]  WITH CHECK ADD CHECK  (([categoria]='Enfermedad' OR [categoria]='Maleza' OR [categoria]='Plaga'))
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD CHECK  (([estado_pago]='Pagado' OR [estado_pago]='Parcial' OR [estado_pago]='Pendiente'))
GO
USE [master]
GO
